# Exes
*.exe

__pycache__/
*.pyc 

*.csv

*.dll
*.json
*.ico

EvtxeCmd/
EZViewer/
iisGeolocate/
JumpListExplorer/
MFTExplorer/
RECmd/
RegistryExplorer/
SDBExplorer/
ShellBagsExplorer/
SQLECmd/
TimelineExplorer/
oldver/